/*
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
*/
pre.sh_sourceCode {
  background-color: #ffffff;
  color: #000000;
  font-weight: normal;
}

pre.sh_sourceCode .sh_keyword {
  color: #d33682;
  font-weight: bold;
}

pre.sh_sourceCode .sh_usertype,
pre.sh_sourceCode .sh_type {
  color: #2aa198;
}

pre.sh_sourceCode .sh_string {
  color: #d33682;
}

pre.sh_sourceCode .sh_regexp {
  color: #bd8d8b;
}

pre.sh_sourceCode .sh_cbracket {  color: #dc322f;}

pre.sh_sourceCode .sh_comment {  color: #586e75; font-style: italic;}

pre.sh_sourceCode .sh_number {
  color: #cb4b16;
}

pre.sh_sourceCode .sh_predef_func,
pre.sh_sourceCode .sh_function {  color: #268bd2}

pre.sh_sourceCode .sh_specialchar {  color: #268bd2;}

pre.sh_sourceCode .sh_date {
  color: #9c20ee;
  font-weight: bold;
}

pre.sh_sourceCode .sh_time {
  color: #9c20ee;
  font-weight: bold;
}

pre.sh_sourceCode .sh_file {
  color: #9c20ee;
  font-weight: bold;
}

pre.sh_sourceCode .sh_ip {
  color: #bd8d8b;
}

pre.sh_sourceCode .sh_name {
  color: #bd8d8b;
}

pre.sh_sourceCode .sh_variable {
  color: #cb4b16;
}

pre.sh_sourceCode .sh_oldfile {
  color: #bd8d8b;
}

pre.sh_sourceCode .sh_newfile {
  color: #bd8d8b;
}

pre.sh_sourceCode .sh_difflines {
  color: #9c20ee;
  font-weight: bold;
}

pre.sh_sourceCode .sh_selector {
  color: #0000ff;
}

pre.sh_sourceCode .sh_property {
  color: #9c20ee;
  font-weight: bold;
}

pre.sh_sourceCode .sh_value {
  color: #bd8d8b;
  font-weight: normal;
}

