@media (min-width: 980px) {
	body {
		padding-top: 60px;
		padding-bottom: 40px;
	}
	.sidebar-nav {
		padding: 9px 0;
	}
}


#loading-ui {
	margin: 5% auto;
}

#login-ui {
	margin-top: 5%;
}

#twiz-problem ol {
	list-style-type:lower-alpha;
}

textarea.code {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.icons-twiz {
	float: right;
	width: 16px;
	height: 14px;
}
.icons-review {
	float: right;
	width: 36px;
	height: 14px;
}

.navbar .brand {
	padding: 5px 20px;
}

#admin-twiz-list .active {
	border-color: #0044CC;
}

.admin-icons {
	width: 60px;
	float: left;
}

#buddy-source label:hover {
	background-color: #d9edf7;
}

.export div.row-fluid {
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

@media (max-width: 767px) {
	#user .thumbnail h3 {
		float: left;
	}
	.admin-icons {
		width: 50px;
		margin-top: 16px;
		margin-left: 16px;
	}
}

@media (min-width: 1200px) {
	.span4or6 {
		width: 370px;
	}
}
@media (max-width: 1199px) and (min-width: 980px) {
	.span4or6 {
		width: 460px;
	}
}
@media (max-width: 979px) and (min-width: 768px) {
	.span4or6 {
		width: 352px;
	}
}
